services:
  golf_video_api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: golf_video_api
    ports:
      - "18889:80"
    volumes:
      - ./config.yaml:/app/config.yaml:ro
      - ./data:/app/data
      - ./download:/app/download
      - ./logs:/app/logs
    restart: unless-stopped
    environment:
      TZ: Asia/Shanghai
      TIKHUB_API_KEY: ${TIKHUB_API_KEY:-}

  golf_cloudflare_tunnel:
    image: cloudflare/cloudflared:latest
    container_name: golf_cloudflare_tunnel
    restart: unless-stopped
    environment:
      TUNNEL_TOKEN: eyJhIjoiYjI3MWFkZDVhMTFmNzc1NDJiZTgzY2U3ZGIwMDgxYWQiLCJ0IjoiMmJiOTg4N2MtMjc1Zi00YWJkLWI3ODktZmM4MTdjMTYzMjRmIiwicyI6Ik9EWmtNREUwWW1RdE1tRTFPQzAwTUdFNUxXRTFNemd0WWpVMk1USmtNREUxWWpZNCJ9
    command: tunnel --no-autoupdate run
    depends_on:
      - golf_video_api
